.closed-item {
    text-align: center;
}

.closed-text {
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #27272F;
}

.closed-title {
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    color: #27272F;
    margin-top: 24px;
}