.testttt {
    // height: 100vh;
}
.rating-top{
    margin: 16px 0 16px 0;
    gap: 16px;
    justify-content: space-between;
}
.rating-top-item{
    padding: 16px;
    text-align: center;
    border-radius: 16px;
    min-height: 150px;
    max-width: 110px;
    
    align-items: baseline;
    p{
        margin-bottom: 0;
    }
}
.second-place{
    border: 1px solid #74A2D6;

}
.first-place{
    border: 1px solid #FDB30B;
    order: 1;
}
.third-place{
    border: 1px solid #EF86B0;
    order: 3;
}
.rates-title {
    font-weight: 600;
    font-size: 17px;
    line-height: 24px;
}

.filter-list {
    display: inline-flex;
    gap: 4px;
    border: 1px solid #EFEFEF;
    border-radius: 4px;
    padding: 4px;
    margin: 12px 0;
    cursor: pointer;

    &__item {
        padding: 1px 8px;
        line-height: 20px;
        font-weight: 500;
        font-size: 12px;
        border-radius: 4px;

        &.active {
            color: #fff;
            background-color: #2A80FF;

        }
    }
}