.password-input {
    padding: 16px 16px 16px 16px;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    border-radius: 12px;
    // margin-bottom: 84px;
}

.password-input__wrapper-title {
    position: absolute;
    top: 16px;
    left: 16px;
    margin: 0;
    font-weight: 400;
    font-size: 11px;
    line-height: 16px;
    display: none;
}

.phone-input {
    padding: 16px 16px 16px 16px;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    border-radius: 12px;
    margin-bottom: 84px;
}
.password-input--second{
    margin-bottom: 20px;
}
.password-input:focus {
    border: 1px solid #0073EA;
    box-shadow: 0px 0px 8px rgba(130, 145, 182, 0.2);
}

.password-input:focus {
    &+.password-input__wrapper-title {
        display: block;
    }

    padding: 36px 16px 16px 16px;
}

.form-validation {
    box-shadow: 0 0 2px 2px rgba(192, 192, 192, 0.2);
    font-size: 12px;
}

.form-validation p {
    margin-bottom: 4px;
}

.login-password{
    margin-bottom: 54px;
}
.get-password{
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    color: #2A80FF;
    text-align: center;
    padding: 16px 0;
    margin-top: 16px;
}

// .login-img{
//     margin-top: 45px;
// }