.top-menu {
    padding-top: 12px;
}

.chapter-subtitle {
    margin-bottom: 0;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #27272F;
}
.chapter-top {
    text-align: center;
}
.chapter-header {
    font-size: 17px;
    font-weight: bold;
    line-height: 24px;
    color: #27272F;
}
