.ticket__text {
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 0;
}

.ticket__info__title {
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 4px;
}

.ticket__info__desc {
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 0;
}