.progress {
    height: 12px;
}

.coin-img {
    width: 24px;
    height: 24px;
    margin-right: 16px;
}

.coin-block {
    width: 75px;
}

.star-block {
    margin-right: 25px;

    &__number {
        margin: 0 16px;
    }
}

.coin-number {
    font-size: 17px;
    font-weight: 600;
    color: #FDB30B;
}

.level-block {
    width: 200px;
    // width: 65%;
}

.star-block__number {
    font-weight: 600;
    font-size: 17px;
    line-height: 24px;
    color: #08C7D2;
}