.condition {
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    color: #000000;
}

.condition-input {
    background: #F5F8FF;
    border: none;
    border-radius: 12px;
    height: 64px;
    padding-left: 15px;
    &:focus{
        outline: none;
        border: 2.5px solid #2A80FF;
    }
}
