.condition {
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    & h5 {
        margin-bottom: 0;
        font-weight: 700;
        font-size: 15px;
        line-height: 22px;
        transform: translateY(50%);
        background-color: #A1D7A3;
        border-radius: 4px;
        padding: 2rem 1rem;
        max-width: 80vw;
        min-width: 80vw;
        margin-left: 10vw;
        color: #27272F;
        z-index: 2;
        animation: swingYMes 6s linear infinite;
    }
    &-img {
        z-index: 1;
        position: relative;
        &:before{
            content: "";
            width: 0;
            height: 0;
            border-top: 20px solid #A1D7A3;
            border-right: 10px solid transparent;
            border-left: 10px solid transparent;
            position: absolute;
            left: 54%;
            top: 45px;
            animation: swingY 6s linear infinite;
        }
        height: 180px;
        & img {
            height: 180px;
        }
    }
}

@keyframes swingYMes {
    15% {
      transform: translateY(calc(50% + 6px));
    }
    30% {
      transform: translateY(calc(50% - 6px));
    }
    40% {
      transform: translateY(calc(50% + 6px));
    }
    50% {
      transform: translateY( calc(50% - 6px));
    }
    65% {
      transform: translateY(calc(50% + 6px));
    }
    100% {
      transform: translateY(50%);
    }
}
@keyframes swingY {
    15% {
      transform: translateY(6px);
    }
    30% {
      transform: translateY(-6px);
    }
    40% {
      transform: translateY(6px);
    }
    50% {
      transform: translateY(-6px);
    }
    65% {
      transform: translateY(6px);
    }
    100% {
      transform: translateY(0);
    }
}
  
.row-sticky {
    position: sticky;
    top: 0;
    background-color: white;
}
.btn-sticky {
    position: sticky;
    bottom: 1rem;
    margin-bottom: 2rem;
}
.text-center {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}
.condition-input, .answer {
    background: #F5F8FF;
    border: 2.5px solid transparent;
    border-radius: 12px;
    height: 64px;
    padding: 0 16px;
    color: #2A80FF;
    font-weight: 500;
    font-size: 21px;
    line-height: 26px;
    margin: 0 0.5rem 1rem;
    width: 100%;
    &:focus, &.active {
        outline: none;
        border: 2.5px solid #2A80FF;
    }
}
.answer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
}

.custom-modal {
    position: fixed !important;
    width: 100% !important;
    top: auto;
    right: auto;
    left: auto;
    bottom: 0;
    margin: 0 !important;
}

.custom-content {
    background-color: #27272F !important;
}

.custom-success {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    margin: 32px 0 24px 0;

    span {
        font-weight: 500;
        font-size: 21px;
        line-height: 26px;
        color: #FEFEFE;

    }
}

.custom-success__img {
    background-color: #19E439;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.custom-success__img--not-correct{
    background-color: #EB2E72;
}

.custom-footer {
    padding: 0 12px;
}
.special-div {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-start;
}