.container-custom-thinking-1 {
  margin-top: 80px;
  max-height: 88vh;
  min-height: 88vh;
  max-width: 100vw;
  min-width: 100vw;
  overflow: hidden;
  overflow-y: hidden;
  &:after{
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-image: url('https://media.tenor.com/6ZUs587t-_YAAAAC/blue-heart-black.gif');
    background-size: cover;
    z-index: -1;
    // opacity: 0.5;
  }
  span {
    font-size: 1.5rem;
    &:last-child {
      font-weight: bold;
    }
  }
  .arrow {
    position: fixed;
    max-width: 36px !important;
    max-height: 36px !important;
    min-width: 36px !important;
    min-height: 36px !important;
    padding: 0 !important;
    transition: all 0s;
    font-size: 36px;
    z-index: 0;
    font-weight: bold;
  }
  .row:first-child {
    background-color: white;
    z-index: 1;
    position: relative;
  }
  .direction- {
    &left {
      transform: scale(-1, 1)
    }
    &up {
      transform: rotate(270deg)
    }
    &right {
      transform: rotate(0deg)
    }
    &down {
      transform: rotate(90deg)
    }
  }
}
.game-stats {
  color: white;
  z-index: 10;
  position: relative;
}
.task-title {
  background-color: #c7c7c7;
  color: grey;
  border-bottom: 1px solid grey;
  padding: 0.5rem 1rem;
  width: 300px;
  text-align: center;
  opacity: 0.25;
  & img {
    opacity: 0;
    margin-left: 4px;
  }
  &.active {
    opacity: 0.9;
    background: #2A80FF;
    color: white;
    & img {
      opacity: 1;
    }
  }
}