.card-game-wrapper{
    background: url("../../../assets/games/bg/card-game-bg.jpg")  ;
    background-size: cover;
    background-position: center center;
    color: #fff;
}
.thinking-card{
    border: 2px solid white;
    background-color: #fff;
}