.successBtn {
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    padding: 12px 0;
    border-radius: 12px;

}

.successBtn--second {
    background: none;
    color: #2A80FF;
    border: 2px solid #2A80FF;
    border-radius: 12px;
}